@model IEnumerable<PetConnection.Models.User>



@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    @Html.ActionLink("Add Customer", "New", null, new { @class = "btn btn-primary" })
    <h3>User Information</h3>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Last Name (Edit)</th>
                <th>First Name (Details)</th>
                <th>E-Mail Address</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.ActionLink(user.LastName, "Edit", "User", new
                   {
                       id = user.Id, @*addressID = customer.Address.Id*@ }, null) </td>
                    <td>@Html.ActionLink(user.FirstName, "Details", "Customers", new { id = user.Id }, null) </td>
                    <td>@user.EMail</td>
                    <td>@user.Street</td>
                    <td>@user.City.CityName</td>
                    <td>@user.States.StateName</td>
                    <td>@user.ZipCode.Zip</td>
                </tr>
            }
        </tbody>
    </table>
}



else
{
    <div class="row">
        <div class="col-sm-4">

        </div>



        <div class="col-sm-4">
    <br /><br />
    @Html.ActionLink("Update Information", "New", null, new { @class = "btn btn-primary" })
    <br /><br />


            <ul>

<li><h3>Last Name:</h3></li>
<li><h3>First Name:</h3></li>
<li><h3>Email: </h3></li>
<li><h3>Street Address:</h3></li>
<li><h3>City:</h3></li>
<li><h3>State:</h3></li>
<li><h3>Zip Code:</h3></li>
      </ul>



            <table>

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(user.LastName, "Edit", "Customers", new
                   {
                       id = user.Id, @*addressID = customer.Address.Id*@ }, null)
                </td>
                <td>@Html.ActionLink(user.FirstName, "Details", "Customers", new { id = user.Id }, null) </td>
                <td>@user.EMail</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Street</td>
                <td>@user.CityId</td>
                <td>@user.StateId</td>
                <td>@user.ZipCodeId</td>
            </tr>
            }

                </table>

</div>


    <div class="col-sm-4">

    </div>
        </div>

}